<launch>
  <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="-3.0"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="cfg"   default="$(find demo133)/rviz/viewurdf.rviz" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="false"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  
    <!-- Run the rviz visualization, with viewfourR.rviz config file -->
 <node pkg ="rviz"
	type="rviz"
	name="rviz" args="-d $(find hw6package)/rviz/config.rviz"
	output="screen"
	required="true"/>

<!-- Gmapping -->
<node pkg="gmapping"
type="slam_gmapping"
name="turtlebot3_slam_gmapping"
output="screen">
<param name="base_frame" value="base_footprint"/>
<param name="odom_frame" value="odom"/>
<param name="map_frame" value="map"/>
<rosparam command="load"
file="$(find turtlebot3_slam)/config/gmapping_params.yaml" />
</node>

</launch>
